name: Sync Codeforces Solutions

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: pip install requests

    - name: Run Script
      run: python fetch_cf.py

    - name: Force Sync Branch
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config --global user.name "Aryan Sonkar"
        git config --global user.email "sonkararyan000@gmail.com"

        git add .
        git commit -m "Auto Sync Codeforces Solutions" || echo "No changes"

        git push --force https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }} main
