name: Sync Codeforces Solutions

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: pip install requests

    - name: Run Script
      run: python fetch_cf.py

    - name: Commit and Push
      run: |
        git config user.name "Aryan Sonkar"
        git config user.email "sonkararyan000@gmail.com"
        git add .
        git diff --quiet && git diff --staged --quiet || git commit -m "Auto Sync Codeforces Solutions"
        git push origin main --force

